
.social_house_cnt{
  
}

.social_house_cnt a{
  margin-right:10px;
}
.social_house_cnt a.house_fb{
  background-image: url(<?php echo $static_image_url, "f_logo.png"?>);
  height:32px;
  width:32px;
  display: block;
  cursor: pointer;
}